# Dependencies
node_modules/

# Environment variables
.env

# Prisma
prisma/migrations/
src/generated/prisma/
prisma/client/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

/src/generated/prisma
